<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>301C8785-9A97-4E24-A313-2AC89FF7403F</string>
			<string>F79EF9CA-6D4D-45D9-807C-F7183BE855E6</string>
			<string>1E135F00-FE33-4BDE-AA2C-31A6C3B3943D</string>
			<string>------------------------------------</string>
			<string>E065B750-38D6-45BC-A3DE-C6ABCD29225A</string>
			<string>EE021D5D-1400-4629-A83F-AC10D68A07A5</string>
			<string>------------------------------------</string>
			<string>71C114BE-105F-4BF0-AE8E-050E919711F5</string>
			<string>60415A72-E2EA-42D1-8A71-FEC60644BECD</string>
			<string>71B53E07-8F2B-4074-8CAF-B2B454AF09F7</string>
			<string>------------------------------------</string>
			<string>5C05808F-1680-4237-9026-A2EFD0CD263F</string>
			<string>BF2A3851-1F8C-4E21-8CCB-8905E94CE577</string>
			<string>------------------------------------</string>
			<string>B5701FBA-C60D-4216-B5E5-D22829649FB2</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>EasyOpen</string>
	<key>ordering</key>
	<array>
		<string>E065B750-38D6-45BC-A3DE-C6ABCD29225A</string>
		<string>EE021D5D-1400-4629-A83F-AC10D68A07A5</string>
		<string>4F261511-9691-422A-8894-088A10B99061</string>
		<string>301C8785-9A97-4E24-A313-2AC89FF7403F</string>
		<string>F79EF9CA-6D4D-45D9-807C-F7183BE855E6</string>
		<string>1E135F00-FE33-4BDE-AA2C-31A6C3B3943D</string>
		<string>5C05808F-1680-4237-9026-A2EFD0CD263F</string>
		<string>B5701FBA-C60D-4216-B5E5-D22829649FB2</string>
		<string>71C114BE-105F-4BF0-AE8E-050E919711F5</string>
		<string>71B53E07-8F2B-4074-8CAF-B2B454AF09F7</string>
		<string>60415A72-E2EA-42D1-8A71-FEC60644BECD</string>
	</array>
	<key>uuid</key>
	<string>A586D61A-96C6-491D-9BD9-E2C6AB7F26FF</string>
</dict>
</plist>
