<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>301C8785-9A97-4E24-A313-2AC89FF7403F</string>
			<string>F79EF9CA-6D4D-45D9-807C-F7183BE855E6</string>
			<string>1E135F00-FE33-4BDE-AA2C-31A6C3B3943D</string>
			<string>5C05808F-1680-4237-9026-A2EFD0CD263F</string>
			<string>B5701FBA-C60D-4216-B5E5-D22829649FB2</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>EasyOpen</string>
	<key>ordering</key>
	<array>
		<string>4F261511-9691-422A-8894-088A10B99061</string>
		<string>301C8785-9A97-4E24-A313-2AC89FF7403F</string>
		<string>F79EF9CA-6D4D-45D9-807C-F7183BE855E6</string>
		<string>1E135F00-FE33-4BDE-AA2C-31A6C3B3943D</string>
		<string>5C05808F-1680-4237-9026-A2EFD0CD263F</string>
		<string>B5701FBA-C60D-4216-B5E5-D22829649FB2</string>
	</array>
	<key>uuid</key>
	<string>A586D61A-96C6-491D-9BD9-E2C6AB7F26FF</string>
</dict>
</plist>
